footer {
    padding: 3rem 0 2rem 0;
    background: url(../images/bg-footer.png) no-repeat center;
    background-size: cover;
    .copyright {
        padding: 1.5rem .5rem 0 .5rem;
        text-align: right;
        p {
            color: #fff;
        }
    }
}

.contact {
    @include display-flex(flex);
    flex-direction: column;
    width: 100%;
    @media #{$breakpoint-md} {
        flex-direction: row;
    }

    &-info {
        width: 100%;
        background-color: #222;
        padding: 2rem;
        @media #{$breakpoint-md} {
            width: 60%;
        }
    }

    &-form {
        width: 100%;
        background-color: $main;
        padding: 2rem;
        @media #{$breakpoint-md} {
            width: 40%;
        }
        .form-control {
            background-color: darken($main,7);
            border: 0;
            &::placeholder {
                color: #000;
            }
        }
    }
}