@font-face {
    font-family: 'Google-sans';
    src: url('../fonts/GoogleSansTTF/GoogleSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google-sans';
    src: url('../fonts/GoogleSansTTF/GoogleSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google-sans';
    src: url('../fonts/GoogleSansTTF/GoogleSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

$font-main: 'Google Sans', sans-serif;
$yellow: #F9B91F;
$main: $yellow;

$breakpoint-sm: '(min-width: 640px)';
$breakpoint-md: '(min-width: 768px)';
$breakpoint-lg: '(min-width: 1024px)';